@model IEnumerable<AtlasMed_GS.Models.Medicacao>

@{
    ViewData["Title"] = "Medicações";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AtlasMed - Sua plataforma de gerenciamento de registros médicos</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #3498db;
            color: #333;
        }

        header {
            color: #fff;
            text-align: center;
        }

        section {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }

        h2 {
            color: #fff;
        }

        thead {
            color: #fff;
        }

        tbody {
            background-color: #fff;
        }

    </style>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#filtroNome').on('input', function () {
                var filtro = $(this).val().toLowerCase();

                $('tbody tr').each(function () {
                    var nomeMedicacao = $(this).find('td:eq(0)').text().toLowerCase();

                    if (nomeMedicacao.includes(filtro)) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            });
        });
    </script>
</head>
<body>

    <h2>Lista de Medicações</h2>

    <input type="text" id="filtroNome" placeholder="Pesquisar por Nome" />

    <p>
        <a style="color: #fff" asp-action="Create">Cadastrar Medicação</a>
    </p>
    <table class="table" id="tabelaMedicacoes">
        <thead>
            <tr>
                <th>
                    Nome:
                </th>
                <th>
                    Descrição:
                </th>
                <th>
                    Princípio Ativo:
                </th>
                <th>
                    Dosagem (mg):
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrincipioAtivo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dosagem)
                </td>
                <td>
                     <a style="color: #000; padding: 20px;" asp-action="Edit" asp-route-id="@item.IdMedicacao">Editar</a> |
                     <a style="color: #000; padding: 20px;" asp-action="Details" asp-route-id="@item.IdMedicacao">Detalhes</a> |
                     <a style="color: #000; padding: 20px;" asp-action="Delete" asp-route-id="@item.IdMedicacao">Excluir</a>
                </td>
            </tr>
    }
        </tbody>
    </table>

</body>
</html>